
* { margin: 0; padding: 0; box-sizing: border-box;}
ul {list-style-type: none;}
a {text-decoration: none; color: black;}    /* tdn c:black */

/* 헤더 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 90px;
    background-color: black;
}

header * {color: white;}

/* 네비게이션 */
nav { height: 100%; }
nav .gnb {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
}
nav .gnb li{
    height: 20px;
    display: flex;
    align-items: center;
    padding: 15px 20px;     /* me */
    overflow: hidden;
}

/* nav .gnb li span { 
    height: 25px;
    overflow: hidden;
}

nav .gnb li span:hover {  
    transition: transform 1s;
    transform: translateY(-100px);
} */

nav .gnb li a{
    display: inline-block;
}
nav .gnb li:hover a {
    animation: slideUp 0.4s ease-out forwards, toTop 0.3s 0.6s ease forwards;
    /* animation-fill-mode: forwards; */
}
@keyframes slideUp {
    0% {transform: translateY(0);}
    100% {transform: translateY(-110%);}
}

@keyframes toTop {
    0% {transform: translateY(20%);}
    100% {transform: translateY(0);}
}

/* 유틸 */
.util {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.util div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.util .langs a {opacity: 0.5;}
.util .langs a.active {opacity: 1;}

.util .sns {
    position: relative;
    top: 3px;
}

.util .sns img {height: 20px; opacity: 0.8;}
.util .sitemap {
    position: relative;
    top: 3px;
}

.line {
    width: 1px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 2px;
}

/* 마우스 커서 효과 */
.cursor {
    display: none;
    position: fixed;
    /* top: 10px;
    left: 200px; */
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    /* z-index: -1; */
    transition: all 0.1s ease-out;

    /* 요소와 배경의 혼합 방식을 지정하는 속성 */
    mix-blend-mode: difference;     /* difference : 배경과 반대 색상, 색상 반전 */

    /* 마우스 이벤트 무시 */
    pointer-events: none;
}

body {
    background-color: white;
}